<ion-header>

    <ion-navbar>
        <ion-title> {{disease.label}}</ion-title>
    </ion-navbar>

</ion-header>
<ion-content>
    <ion-card>
        <ion-card-content>
            <p>
               <strong>
                   {{disease.label}}
               </strong>
            </p>
            <strong>Brief Description</strong>
            <p>
                {{disease.description}}
            </p>

            <span *ngIf="disease.symptom.length > 0">
                <strong>Symptoms</strong>
                <p *ngFor="let symp of disease.symptom">
                    {{symp.label}}
                </p>
            </span>



        </ion-card-content>

    </ion-card>
    <ion-card>
        <ion-card-content>
            <p><strong>Plants used to cure {{disease.label}}</strong></p>
            <ion-list>
                <button ion-item *ngFor="let herb of disease.herbs" (click)="viewRecipe(herb,herb.part)">
                    <ion-thumbnail  item-start>
                        <img src="{{constants}}{{herb.image_url}}">
                    </ion-thumbnail >
                    <h2>{{herb.name}}</h2>
                    <p> {{herb.common_name}}</p>
                    <p> {{herb.botanical_name}}</p>
                    <div class="item-note" item-end>
                    </div>
                </button>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>