<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Diseases</ion-title>
  </ion-navbar>
  <ion-toolbar color="mycolor">
  <ion-searchbar    [(ngModel)] = "searchInput"  ></ion-searchbar>
  </ion-toolbar>
 </ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let disease of diseases | diseaseFilter: searchInput" (click)="viewDetail(disease)">
      {{disease.label}}
    </button>
  </ion-list>
</ion-content>
