<!--
  Generated template for the RecipeDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{herb.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <img src="{{constants}}{{herb.image_url}}">
    <ion-card-content>
      <ion-card-title>
        {{herb.name}}
      </ion-card-title>
      <p>
        {{herb.description}}
      </p>
      <p  *ngFor="let names of herb.local_name"> {{languages[names.language_id]}} Name: {{names.name}}</p>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let p of part" >
      <img src="{{constants}}{{p.pivot.image_url}}">
      <ion-card-content>
        <ion-card-title>
          {{p.label}}
        </ion-card-title>
        <p>
          {{p.description}}
        </p>
        <p><strong>Preparation</strong></p>
        <p *ngFor="let pr of p.recipe[0].description.Preparation let i = index">
        {{i + 1}}) {{pr}}.
        </p>
        <p><strong>Dosage</strong></p>
        <p>
          {{p.recipe[0].description.Dosage}}
        </p>
        <p><strong>Taboo</strong></p>
        <p  *ngFor="let t of p.recipe[0].description.Taboo let i = index">
          <span *ngIf="t !== ''">
            {{i + 1}})  {{t}}.
          </span>
        </p>

      </ion-card-content>
  </ion-card>
</ion-content>
