<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> MEDICINAL PLANTS</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-list>
    <button ion-item *ngFor="let herb of herbs" (click)="viewHerb($event,herb)">
      <ion-thumbnail  item-start>
        <img src="{{constants}}{{herb.image_url}}">
      </ion-thumbnail >
      <h2>{{herb.name}} </h2>
      <p> {{herb.common_name}}</p>
      <p> {{herb.botanical_name}}</p>
      <div class="item-note" item-end>
      </div>
    </button>
  </ion-list>
</ion-content>
