page-herb-detail {
  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title-1 {
      position: absolute;
      top: 12%;
      font-size: 1.5em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
    .card-title-2 {
      position: absolute;
      top: 24%;
      font-size: 1.5em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
    .card-title-3 {
      position: absolute;
      top: 36%;
      font-size: 1.5em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.5em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

    .description {
      width: 100%;
      white-space: -moz-pre-wrap !important;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      white-space: pre-wrap;
      word-wrap: break-word;
      word-break: break-all;
      white-space: normal;
    }

  }
}
