<!--
  Generated template for the HerbDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{herb.name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="card-background-page">
    <ion-list>
        <ion-card>
            <img src="{{constants.UPLOADS}}{{herb.image_url}}">
            <ion-card-content>
                <ion-card-title>
                   {{herb.name}}
                </ion-card-title>
                <p>
                    {{herb.description}}
                </p>
                <p  *ngFor="let names of herb.local_name"> {{languages[names.language_id]}} Name: {{names.name}}</p>
            </ion-card-content>
        </ion-card>
        <ion-card >
            <h3>Useful Parts</h3>
            <ion-list>
                <button ion-item *ngFor="let part of herb.part" (click)="viewPart($event,part)">
                    <ion-thumbnail  item-start>
                        <img src="{{constants.UPLOADS}}{{part.pivot.image_url}}">
                    </ion-thumbnail >
                    <h2>{{part.label}}</h2>
                    <p class="description"> {{part.description}}</p>
                    <div class="item-note" item-end>
                    </div>
                </button>
            </ion-list>
        </ion-card>
    </ion-list>
</ion-content>

