<!--
  Generated template for the HerbPartsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{part.label}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <img src="{{constants.UPLOADS}}{{part.pivot.image_url}}">
    <ion-card-content>
      <ion-card-title>
        {{part.label}}
      </ion-card-title>
      <p>
        {{part.decription}}
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card >
    <ion-list>
      <ion-list-header>
        <h2 color="mine">Uses</h2>
      </ion-list-header>
      <ion-item *ngFor="let disease of part.disease">
        {{disease.label}}
        <h3 class="description">{{disease.description}}</h3>
        <span *ngIf="disease.symptom.length > 0">
          <p><strong>Symptoms</strong></p>
                <p *ngFor="let symp of disease.symptom">
                    {{symp.label}}
                </p>
            </span>
        <p><strong>Preparation</strong></p>
        <p *ngFor="let pr of disease.recipe[0].description.Preparation let i = index">
          {{i + 1}}) {{pr}}.
        </p>
        <p><strong>Dosage</strong></p>
        <p>
          {{disease.recipe[0].description.Dosage}}
        </p>
        <p><strong>Taboo</strong></p>
        <p  *ngFor="let t of disease.recipe[0].description.Taboo let i = index">
          <span *ngIf="t !== ''">
            {{i + 1}})  {{t}}.
          </span>
        </p>
      </ion-item>
    </ion-list>

  </ion-card>

</ion-content>
